*{
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    margin-top: 20px;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(orange, tomato);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: center right ;
}
.para-2{
    width: 80%;
   text-align: justify;
}
.experiences-item{
    width: 40%;
    height: 50vh;
    margin: 0px 5%;
    text-align: justify;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 10px 10px 40px gray;
}
.experiences-item h2{
    font-size: 35px;
}
.experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:  left ;
}
#web-dev-id{
    border-left: 7px solid ;
    border-image: linear-gradient(blue , cyan );
    border-image-slice: 1;
}
#full-stack-id{
    border-left: 7px solid ;
    border-image: linear-gradient(salmon , tomato );
    border-image-slice: 1;
}

footer p{
    text-align: center;
}